
<header>
    <main class="container">
        {{#if logged_in}}
        <nav>
            <!-- This makes the hamburger button turn into an X when clicked and also hides dropdown items until the hamburger button is made into an X-->
            <ul>
                <div class="hammy" id="ham" onclick="hammyClick()">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                </div>
                <!-- The specific part for the dropdown items -->
                <div class="dropdown dropHide" id="dropdown">
                    <ul>
                        <li><a href="#" class="secondary vert">Shop</a></li>
                        <li><a href="#" class="secondary vert">Checkout</a></li>
                    </ul>
                </div>
            </ul>
            <!-- This makes the sleepSHOP title and also makes the SHOP turn purple -->
            <ul>
                <li class="title"><strong>sleep<span class="shop">PRODUCTS</span></strong></li>
            </ul>
            <ul>
                <li><a id="logout" href="">logout</a></li>
                <li><a href="#" class="secondary accountLink">Account</a></li>
            </ul>
        </nav>
    {{else}}
        <nav>
            <!-- This makes the hamburger button turn into an X when clicked and also hides dropdown items until the hamburger button is made into an X-->
            <ul>
                <div class="hammy" id="ham" onclick="hammyClick()">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                </div>
                <!-- The specific part for the dropdown items -->
                <div class="dropdown dropHide" id="dropdown">
                    <ul>
                        <li><a href="#" class="secondary vert">Shop</a></li>
                        <li><a href="#" class="secondary vert">Checkout</a></li>
                    </ul>
                </div>
            </ul>
            <!-- This makes the sleepSHOP title and also makes the SHOP turn purple -->
            <ul>
                <li class="title"><strong>sleep<span class="shop">PRODUCTS</span></strong></li>
            </ul>
            <ul>
                <li><a href="/login" class="secondary accountLink">log in</a></li>
            </ul>
        </nav>
        {{/if}}

    </main>

</header>
<script type="text/javascript" src="./js/header.js"></script>