    <article>
        {{product.product_name}}
        <img src="../../public/images/{{product.product_img_path}}" alt="{{product.product_img_alt}}">
        <a href="#" role="button">Take me to the sleep<span class="shop">PRODUCT</span></a>
    </article>
