    <article>
        {{product.product_name}}
        <img src="./images/{{product.product_img_path}}" alt="{{product.product_img_alt}}">
        <a href="/product/{{product.id}}" role="button">Take me to the sleep<span class="shop">PRODUCT</span></a>
    </article>
