<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SleepShop</title>
    <meta name="description" content="Sleepshop" />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="canonical" href="https://picocss.com/examples/sign-in/" />

    


    <link rel="stylesheet" href="/css/jass.css">
    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="/css/shop.css">


    <link rel="stylesheet" href="/css/profile.css">

</head>

{{#if logged_in}}
<header class="container">
    
        <nav>
            <!-- This makes the hamburger button turn into an X when clicked and also hides dropdown items until the hamburger button is made into an X-->
            <ul>
                <div class="hammy" id="ham" onclick="hammyClick()">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                </div>
                <!-- The specific part for the dropdown items -->
                <div class="dropdown dropHide" id="dropdown">
                    <ul>
                        <li><a href="/" class="secondary vert">Sleep</a></li>
                        <li><a href="/shop" class="secondary vert">Shop</a></li>
                    </ul>
                </div>
            </ul>
            <!-- This makes the sleepSHOP title and also makes the SHOP turn purple -->
            <ul>
                <li class="title"><strong>sleep<span class="shop">ACCOUNT</span></strong></li>
            </ul>
            <ul>
                <li><a id="logout" class="secondary accountLink" href="">logout</a></li>
                <li><a href="/account" class="secondary accountLink">Account</a></li>
            </ul>
        </nav>

    
</header>
{{/if}}

<body>
    {{{body}}}
</body>

<script src="/js/header.js"></script>
<script src="/js/minimal-theme-switcher.js"></script>
<script src="/js/profile.js"></script>


</html>