<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SleepShop</title>
    <meta name="description" content="Sleepshop" />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="canonical" href="https://picocss.com/examples/sign-in/" />

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

    <link rel="stylesheet" href="/css/jass.css">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

    <!-- Custom styles for this example -->
    

    <link rel="stylesheet" href="/css/signup.css">

</head>


<body>
    {{{body}}}
</body>

<script src="/js/header.js"></script>
<script src="/js/minimal-theme-switcher.js"></script>
<script src="/js/loginscript.js"></script>
<script src="/js/product.js"></script>
<script src="/js/signupscript.js"></script>
<script src="/js/dashboard.js"></script>


</html>