<div class="container grid-container">
  <div class="box newBox">
    <p>Start the sleep timer to track your nightly rest. Earn points for a good night's sleep, within the optimal 7-9
      hours as recommended by the <a href="https://www.cdc.gov/sleep/about_sleep/how_much_sleep.html" target="_blank"
        rel="noopener noreferrer" id="cdc">CDC</a>, and spend them in our sleep-related products shop. Remember, both
      undersleeping and oversleeping can affect your health, so strive for balance.</p>
  </div>
  <div class="box left-top">
    <h3>sleepTIPS</h3>
    <button id="prevTip" class="outline">Previous</button>
    <p id="tip">Loading...</p>
    <button id="nextTip" class="outline">Next</button>
  </div>

  <div class="box left-bottom">
    <h4>sleepPRODUCTS</h3>
    <button id="prevProd" class="outline">Previous</button>
    <article id="prodsec">
      <span id="prodname"></span>
    </article>
    <button id="nextProd" class="outline">Next</button>
  </div>

  <div class="box right">
    <div id="calendar"></div>
    <div class="sleepTracker">

      <a href="#" role="button" id="startSleep" useriddata="{{user_id}}"" class="outline">Start Sleep</a>
      <p id="timer">00:00:00</p>


    </div>


  </div>
</div>

