
    
    <!-- Main -->
    <main class="container">
      <article class="grid">
        <div class="left-content">
          <div class="title">
            <h1 class="title sleepshop-title">
              <span>sleepshop</span>
            </h1>
            </div>
          </div>
        </div>
        
        <div class="right content">
          <hgroup>
            <h1>Sign in</h1>
            <h2>You Snooze - You Win</h2>
          </hgroup>
          <form>
            <input
              type="text"
              id="email"
              name="login"
              placeholder="Login"
              aria-label="Login"
              autocomplete="nickname"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              aria-label="Password"
              autocomplete="current-password"
              required
            />
            <fieldset>
              <div class="inline-content">
                  <label for="remember">
                      <input type="checkbox" role="switch" id="remember" name="remember" />
                      Remember me
                  </label>
                  <a href="/signup" class="myLink">Sign Up</a>
              </div>
          </fieldset>
            <button id="loginbutton" type="submit" class="contrast" onclick="event.preventDefault()">Login</button>
          </form>
        </div>
        <div></div>
      </article>
    </main>
    
    
