

<body>
  <main class="container">

    <div class="center">
      <h3>Items</h3>
      <p>Here is a list of all the items you can buy with your sleep<span class="shop">POINTS!</span></p>
    </div>

    <!-- These are a list of all the items in the shop -->
    <div class="grid">
      <div>
          {{#each products1 as |product|}}
      {{> productcard product=product}}
      {{/each}}
      </div>
      <div>
        {{#each products2 as |product|}}
      {{> productcard product=product}}
      {{/each}}
      </div>
    </div>
     
  </main>
  <script type="text/javascript" src="../public/js/header.js"></script>
</body>