<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SleepSHOP</title>
    <!-- come back to change the links  -->
    <link rel="stylesheet" type="text/css" href="../public/css/shop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<header>
    <main class="container">
        
        <nav> <!-- This makes the hamburger button turn into an X when clicked and also hides dropdown items until the hamburger button is made into an X-->
            <ul>
                <div class="hammy" id="ham" onclick="hammyClick()">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                </div>
                <!-- The specific part for the dropdown items -->
                <div class="dropdown dropHide" id="dropdown">
                    <ul>
                        <li><a href="#" class="secondary vert">Shop</a></li>
                        <li><a href="#" class="secondary vert">Checkout</a></li>
                    </ul>
                  </div>
            </ul>
            <!-- This makes the sleepSHOP title and also makes the SHOP turn purple -->
            <ul>
              <li class="title"><strong>sleep<span class="shop">SHOP</span></strong></li>
            </ul>
            <ul>
              <li><a href="#" class="secondary accountLink">Account</a></li>
            </ul>
          </nav>

        </main>
          
</header>
 
<body>
    <main class="container">
        <div class="grid">
            <div class="center">
                <h3>Items</h3>
                <p>Here is a list of all the items you can buy with your sleep<span class="shop">Points!</span></p>
            </div>
            <!-- This makes the table for the shop items -->
            <div>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Heading</th>
                        <th scope="col">Heading</th>
                        <th scope="col">Heading</th>
                        <th scope="col">Heading</th>
                        <th scope="col">Heading</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th scope="col">#</th>
                        <td scope="col">Total</td>
                        <td scope="col">Total</td>
                        <td scope="col">Total</td>
                        <td scope="col">Total</td>
                        <td scope="col">Total</td>
                      </tr>
                    </tfoot>
                  </table>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../public/js/shop.js"></script>
</body>