

<header>
  <main class="container">

    <nav>
      <!-- This makes the hamburger button turn into an X when clicked and also hides dropdown items until the hamburger button is made into an X-->
      <ul>
        <div class="hammy" id="ham" onclick="hammyClick()">
          <div class="bar top"></div>
          <div class="bar middle"></div>
          <div class="bar bottom"></div>
        </div>
        <!-- The specific part for the dropdown items -->
        <div class="dropdown dropHide" id="dropdown">
          <ul>
            <li><a href="#" class="secondary vert">Shop</a></li>
            <li><a href="#" class="secondary vert">Checkout</a></li>
          </ul>
        </div>
      </ul>
      <!-- This makes the sleepSHOP title and also makes the SHOP turn purple -->
      <ul>
        <li class="title"><strong>sleep<span class="create">CREATE</span></strong></li>
      </ul>
      <ul>
        <li><a href="#" class="secondary accountLink">Account</a></li>
      </ul>
    </nav>

   
    <div class="form-container">
      <section>
        <form>
          <div class="form-group">
            <!-- First column -->
            <div>
              <label for="firstname">
                First name
                <input type="text" id="firstname" name="firstname" placeholder="First name" required>
              </label>
              <label for="lastname">
                Last name
                <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
              </label>
              <label for="username">
                Username
                <input type="text" id="username" name="username" placeholder="Username" required>
              </label>
            </div>
            <!-- Second column -->
            <div>
              <label for="password">
                Password
                <input type="password" id="password" name="password" placeholder="Password" required>
              </label>
              <label for="confirm-password">
                Confirm Password
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
              </label>
              <label for="email">
                Email address
                <input type="email" id="email" name="email" placeholder="Email address" required>
                <small>We'll never share your email with anyone else.</small>
              </label>
            </div>
          </div>
          <!-- Button -->
          <button type="submit" id="submitButton">Submit</button>
        </form>
      </section>
  </div>

  </main>

</header>

<body>
  <main class="container">
  
        
  </main>
  <script type="text/javascript" src="../public/js/header.js"></script>
</body>