h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.center{
    text-align: center;
}

.title {
    font-size: 50px;
}

.create {
    color: purple;
}

#submitButton:hover {
  background-color: purple;
  border-color: purple;
}

input:focus {
  outline-color: purple;
  border-color: purple;
  box-shadow: 0 0 5px purple; 
}
.outline:hover {
    outline-color: purple;
  border-color: purple;
  box-shadow: 0 0 5px purple;
  color: purple;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group > div {
  margin: 1em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.form-row > label {
    flex: 1 0 calc(33% - 1em);
    margin: 0.5em;
}

#submitButton {
  margin-top: 2em;
  width: 100%;
}

.update {
    margin-left: 10px;
}

@media (max-width: 768px) {
  .form-group {
      flex-direction: column;
  }
}

.hammy {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  
  .hammy .bar {
    height: 5px;
    background: purple;
    border-radius: 5px;
    margin: 3px 0px;
    transform-origin: left;
    transition: all 0.5s;
  }

  .hammy-active .top {
    transform: rotate(45deg);
  }
  
  .hammy-active .middle {
    opacity: 0;
  }
  
  .hammy-active .bottom {
    transform: rotate(-45deg);
  }

.accountLink {
    color : white;
}

.accountLink:hover {
    color : purple;
}

.dropHide {
    display: none;
}

.vert {
    display: inline;
}

